body{
    background-color: #f4f4f4;
}

h1{
    font-size: 3em;
}

hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

#slide{
    height: 30em;
    overflow:hidden;  
}

.button-image{
    width: 45%;
}

#countdown{
    font-size: 18em;
    color: black;
}

#progressbar{
    margin-top: 1em;
    background-color: #428bca;
}

.score{
    display:inline-block;
    font-size: 4em;
}

#score-div{
    padding-top: 0.5em;
    text-align: center;
}

#move-on{
    padding-top: 0.5em;
    font-size: 1.5em;
    display: inline-block;
    vertical-align:middle;
}

#go {
    font-size:1.5em;
    margin-left: 1em;
}

#stay {
    font-size:1.5em;
    margin-left: 1em;
}

