
body{
    background-color: #f4f4f4;
    
}


h1{
    font-size: 5em;
    margin-bottom: 1em;
}


#logo{
    
    width: 100%
}

#bigbutton{

    width: 100%;
    background: -webkit-linear-gradient(left, rgb(187,14,51) , rgb(166,34,118)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(187,14,51), rgb(166,34,118)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(187,14,51), rgb(166,34,118)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(187,14,51) , rgb(166,34,118));
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    color: black;
    line-height: 100px; /*or you could use 4em*/
}

.logoText{

    font-family: 'Quicksand', sans-serif;

}

.boldSub{

    font-weight:700;
}




